@charset "utf-8";
/* CSS Document */
#wrap {width:100%; height:100%; overflow-x: hidden;}

.header {width:980px; margin:0 auto; height:107px;}
/*.header .logo {float:left; margin-top:24px;}*/
.header .logo {float:left; margin-top:24px;width:80%;}
.header .logo a {display:inline-block;}
.header ul {float:right; margin-top:39px;}
.header:after {content:"";display:block;clear:both;}
.header ul li {float:left; font-family:'NanumSquareRound'; font-weight:700}
.header ul li a {display:inline-block; font-size:22px; color:#888; line-height:25px}
.header ul:after {content:"";display:block;clear:both;}
.header ul li .bar {width:1px; background:#888; height:18px; margin:0 18px; display:inline-block}

.content .con1 {background:url(../images/nn_bg0.png) no-repeat 50% 0 #a8dff3; height:1080px; width:100%;}
.content .section {width:980px; margin:0 auto; padding-top:170px;}
.content .con1 div.section {padding-top:0}
.content .con1 div.section p {text-align:center; font-size:32px; color:#000; line-height:42px; font-family:'NanumSquareRound';}
.content .con1 div.section strong {font-weight:800; font-family:'NanumSquareRound';}
.content .con1 div.section img {padding:100px 0 23px}
.content .con1 div.section h2 {width:341px; margin:0 auto;}

.content .en .section {padding-top:128px;}
.content .con2 {background:url(../images/bg2.png) no-repeat 50% 0 #f98645; height:1047px; width:100%;}
.content .con3 {background:url(../images/bg3.png) no-repeat 50% 0 #995ce6; height:1605px; width:100%;}
.content .con4 {background:url(../images/bg4.png) no-repeat 50% 0 #0ec1c8; height:1213px; width:100%;}
.content .con5 {background:#3a5db7; height:660px; width:100%;}
.content div.section h3 {text-align:center; font-size:80px; font-weight:800; color:#fff;font-family:'NanumSquareRound';}
.content div.section h3>span {color:#fef716;}
.content div.section div.title_area>span {color:#fff; font-size:32px; font-family:'NanumSquareRound'; text-align:center; display:block; line-height:32px; margin-top:50px;}

.con2 .title_area {margin-bottom:36px;}
.con2 .video {width:870px; height:489px; background:#000; margin:0 auto;}

.con3 .img_area {width:757px; margin:45px auto 45px; position:relative;}
.con3 .img_area .balloon {position:absolute; bottom: -30px; right: -111px;}
.con4 .img_area {width:658px; margin:45px auto 75px; position:relative;}
.con4 .img_area .appicon {position:absolute; bottom: -30px; right: -108px;}

.con5 .section {position:relative}
.con5 .img_area .dog {position:absolute; top:281px; left:-142px;}
.con5 .img_area .boy {position:absolute; top:169px; left:882px;}

.btn .btn_pdf:first-child {margin-bottom:20px;}
.btn .btn_pdf {width:980px; background:#ffcc35; display:block; height:89px; text-align:center; border-radius:50px; line-height:97px; font-family:'NanumSquareRound'; font-size:30px; color:#000; font-weight:800}
.btn .btn_pdf span {background:url(../images/btn_icon1.png) no-repeat 0 50%; padding: 20px 0 12px 85px;}
.btn p {font-family:'NanumSquareRound'; font-size:24px; color:#fff; text-align:center; line-height:32px; font-weight:700; margin:48px 0}

/*.btn2 .btn_pdf2:first-child {margin-bottom:20px;}*/
.btn2 .btn_pdf2 {position:absolute;width:980px; background:#ffcc35; display:block; height:89px; text-align:center; border-radius:50px; line-height:97px; font-family:'NanumSquareRound'; font-size:30px;  font-weight:700;margin:0 auto;}
.btn2 img {position:relative;padding-left: 30px; padding-top:18px; float:left}
.btn2  span {text-align:center;font-family:'NanumSquareRound';color:#000000;}
.btn2 p {font-family:'NanumSquareRound'; font-size:24px; color:#fff; text-align:center; line-height:32px; font-weight:700; margin:48px 0}

.btn22 .btn_pdf22:first-child {margin-bottom:20px;}
.btn22 .btn_pdf22 { background:#ffcc35; display:block; text-align:center; border-radius:50px; line-height:97px; font-family:'NanumSquareRound'; font-size:30px;  font-weight:700;margin:0 auto;}
.btn22 .btn_pdf23 { background:#ffcc35; display:block; text-align:center; border-radius:50px;height:100px; line-height:38px; font-family:'NanumSquareRound'; font-size:30px;  font-weight:700;margin:0 auto;padding-top:30px; }
.img1 {position:relative;padding-left: 30px; padding-top:20px; float:left}
.img2 {position:relative;padding-left: 30px; padding-top:10px; float:left}
.btn22  span {text-align:center;font-family:'NanumSquareRound';color:#000000;}
.btn22 p {font-family:'NanumSquareRound'; font-size:24px; color:#fff; text-align:center; line-height:32px; font-weight:700; margin:48px 0}



.btn3 .btn_box {position:absolute;width:980px; background:#4D1F87; display:flex; height:170px; text-align:center; border-radius:50px; line-height:37px; 
font-family:'NanumSquareRound'; font-size:30px;margin:0 auto;vertical-align: middle;align-items: center;}
.btn3  span { text-align:center;margin:0 auto;font-size:30px;color:#fff;
}

.link_btn a {background:#fff; height:89px; display:block;text-align:center;border-radius:50px; line-height:97px; font-family:'NanumSquareRound'; font-size:30px; color:#000; font-weight:800}
.btn_buy {float:left;width:460px;}
.btn_dona {float:right;width:460px;}
.link_btn:after {content:"";display:block;clear:both;}
.btn_buy span {background:url(../images/btn_icon2.png) no-repeat 0 50%; padding:20px 0 12px 70px;}
.btn_dona span {background:url(../images/btn_icon3.png) no-repeat 0 50%; padding:20px 0 12px 70px;}

.con4 .link_btn a {font-size:26px;}
.btn_google {float:left; width:280px; margin-right:30px;}
.btn_appstore {float:left; width:280px}
.btn_launcher {float:right; width:362px;}
.btn_google span {background:url(../images/btn_icon4.png) no-repeat 0 50%; padding:20px 0 12px 60px;}
.btn_appstore span {background:url(../images/btn_icon5.png) no-repeat 0 50%; padding:20px 0 12px 60px;}
.btn_launcher span {background:url(../images/btn_icon6.png) no-repeat 0 50%; padding:20px 0 12px 62px;}

.con5 .title_area p {color:#fff; font-size:32px; font-family:'NanumSquareRound'; text-align:center; line-height:42px; margin:30px 0 45px;}
.btn_facebook {width:460px; margin:0 auto}
.btn_facebook span {background:url(../images/btn_icon7.png) no-repeat 0 50%; padding:20px 0 12px 90px;}
.txt_area {z-index:2; position:absolute}
.img_area {z-index:2}


.footer {position:absolute;background:#fff; height:250px; color:#000; font-family:'NanumSquareRound'; font-size:40px;font-weight:700; text-align:center; width:100%;padding-top:77px; line-height:57px; }
.footer  p { color:#A2A2A2; font-size:28px;font-weight:300;}

.content .ncon1 {background:url(../images/nn_bg1.png?v=12345) no-repeat 50% 0 #FFF; height:1522px; width:100%;}
.content .ncon2-1 {background:url(../images/nn_bg2-1.png?v=12345) no-repeat 50% 0 #6C33B5; height:1033px; width:100%;}
.content .ncon2-1 div.section {padding-top:942px;}

.content .ncon2-2 {background:url(../images/nn_bg2-2.png?v=12345) no-repeat 50% 0 #6C33B5; height:1435px; width:100%;}
.content .ncon2-2 div.section {padding-top:1263px;}

.content .ncon2-3 {background:url(../images/nn_bg2-3.png?v=12345) no-repeat 50% 0 #6C33B5; height:1228px; width:100%;}
.content .ncon3 {background:url(../images/nn_bg3.png?v=12345) no-repeat 50% 0 #6C33B5; height:968px; width:100%;}
.content .ncon4-1 {background:url(../images/nn_bg4-1.png?v=12345) no-repeat 50% 0 #6C33B5; height:833px; width:100%;}
.content .ncon4-1 div.section {padding-top:747px;}

.content .ncon4-2 {background:url(../images/nn_bg4-2.png?v=12345) no-repeat 50% 0 #6C33B5; height:1435px; width:100%;}
.content .ncon4-2 div.section {padding-top:1265px;}
.content .ncon5 {background:url(../images/nn_bg5.png?v=12345) no-repeat 50% 0 #6C33B5; height:1567px; width:100%;}
.content .ncon6 {background:url(../images/nn_bg6.png?v=12345) no-repeat 50% 0 #541AA4; height:1001px; width:100%;}
.content .ncon7 {background:url(../images/nn_bg7.png?v=12345) no-repeat 50% 0 #0DC1C7; height:1035px; width:100%;}
